body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
}

.attribution a {
  text-decoration: none;
}

dialog {
  border: none;
}

.nav-active {
  position: fixed;
  top: 0;
  width: 60%;
  height: 100vh;
  display: block;
  padding: 1rem;
  z-index: 999;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#basket {
  top: 20%;
}

.basket-active {
  height: fit-content;
  width: fit-content;
  display: block;
}

.main-img {
  max-width: 100%;
}

.hidden {
  display: none;
}

#checkout-button {
  background-color: red;
}

@media screen and (width >= 80rem) {
  nav {
    display: flex;
  }
  #nav {
    display: block;
    position: relative;
  }
  #menu-button {
    display: none;
  }
  #close-button {
    display: none;
  }
}
