@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

body {
  display: grid;
  grid-template-rows: 1fr auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

* {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "kumbh sans", sans-serif;
}

.attribution a {
  font-size: 0.6875rem;
}

#mobile-nav {
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

#nav {
  display: none;
  flex-direction: column;
  gap: 3rem;
  z-index: 999;
}

.left-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.right-nav {
  align-items: center;
  display: flex;
  gap: 1rem;
}

#nav.nav-active {
  display: flex;
}

#nav ul a {
  font-size: 1.125rem;
  color: hsl(0, 0%, 0%);
  font-weight: 700;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

nav ul a {
  text-decoration: none;
}

#menu-button {
  display: flex;
  align-items: center;
}

.profile-picture {
  height: 1.875rem;
}

#close-button {
  display: flex;
}

#close-button:hover {
  cursor: pointer;
}

#shopping-cart-button {
  position: relative;
}

#shopping-cart-quantity {
  top: -0.35rem;
  left: 0.5rem;
  width: 1.25rem;
  position: absolute;
  font-size: 0.625rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  background: hsl(26, 100%, 55%);
  border-radius: 1.125rem;
}

.text {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text p {
  color: hsl(219, 9%, 45%);
  font-weight: 400;
}

h2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  color: hsl(219, 9%, 45%);
}

h1 {
  font-size: 1.75rem;
  font-weight: 700;
}

.order {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.increment {
  border-radius: 0.375rem;
  padding: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 3.125rem;
  background: hsl(223, 64%, 98%);
}

#minus-button {
  display: flex;
  align-items: center;
}

#plus-button {
  display: flex;
  align-items: center;
}

#quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.img {
  display: none;
}

button {
  background: none;
  border: none;
}

#menu-button:hover {
  cursor: pointer;
}

#shopping-cart-button:hover {
  cursor: pointer;
}

.profile-picture:hover {
  cursor: pointer;
  outline: 0.125rem solid hsl(26, 100%, 55%);
  border-radius: 50%;
}

.attribution a {
  text-decoration: none;
}

dialog {
  border: none;
}

.mobile {
  position: relative;
}

#left-button {
  position: absolute;
  top: 40%;
  left: 5%;
  display: grid;
  place-content: center;
  background: #fff;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  z-index: 998;
}

#right-button {
  position: absolute;
  top: 40%;
  left: 85%;
  display: grid;
  place-content: center;
  background: #fff;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.price-discount {
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.price-discount span:first-child {
  display: flex;
  gap: 1rem;
}

.price {
  display: flex;
  align-items: center;
  font-size: 1.625rem;
  font-weight: 700;
}

.discount {
  display: grid;
  place-content: center;
  width: 3.125rem;
  height: min-content;
  border-radius: 0.375rem;
  padding: 0.2rem;
  color: hsl(0, 0%, 100%);
  background: hsl(0, 0%, 0%);
  font-weight: 700;
}

.price-discount span:nth-child(2) {
  color: hsl(219, 9%, 45%);
  font-weight: 700;
  text-decoration-line: line-through;
}

#add-to-cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  background: hsl(26, 100%, 55%);
  height: 3.125rem;
  border-radius: 0.375rem;
  font-weight: 700;
}

#add-to-cart-button:hover {
  background: hsl(26, 100%, 55%, 0.6);
}

.nav-active {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100vh;
  display: block;
  padding: 1rem;
  z-index: 999;
  background: #fff;
}

#overlay,
#lightbox-overlay {
  position: fixed;
  top: 25;
  left: 25;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.basket-active {
  display: flex;
  flex-direction: column;
}

#basket {
  position: fixed;
  height: 35%;
  width: 95%;
  top: 8%;
  left: 2.5%;
  border-radius: 0.625rem;
  z-index: 999;
}

.cart {
  padding: 2em;
  border-bottom: 0.0625rem solid hsl(220, 14%, 75%, 0.4);
  font-weight: 700;
}

.order-item {
  padding: 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.item-img {
  border-radius: 0.375rem;
  height: 3.75rem;
}

.order-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;
}

#total-price {
  font-weight: 700;
  color: hsl(0, 0%, 0%);
}

.order-details span:first-child,
.order-details span:nth-child(2) {
  font-size: 1.125rem;
  font-weight: 400;
  color: hsl(219, 9%, 45%);
}

.item-details {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#delete-button:hover {
  cursor: pointer;
}

#checkout-button {
  font-weight: 700;
  background: hsl(26, 100%, 55%);
  border-radius: 0.625rem;
  height: 3.75rem;
}

#checkout-button:hover {
  cursor: pointer;
  background: hsl(26, 100%, 55%, 0.8);
}

.lightbox-img {
  display: none;
}

.empty-basket {
  position: fixed;
  flex-direction: column;
}

.empty {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.empty span:first-child {
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  border-bottom: 0.0625rem solid hsl(220, 14%, 75%, 0.4);
  font-weight: 700;
}

.empty span:nth-child(2) {
  color: hsl(219, 9%, 45%);
  font-weight: 700;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.mobile-main-img {
  position: relative;
}

#main-img {
  width: 100%;
}

#left-button:hover,
#right-button:hover {
  cursor: pointer;
}

#minus-button:hover,
#plus-button:hover {
  cursor: pointer;
}

.increment-path {
  fill: hsl(26, 100%, 55%);
}

.increment-button:hover .increment-path {
  fill: hsl(26, 100%, 55%, 0.5);
}

#add-to-cart-button:hover {
  cursor: pointer;
}

#add-to-cart-button svg path {
  fill: hsl(0, 0%, 0%);
}

#left-button svg path:hover,
#right-button svg path:hover {
  fill: hsl(26, 100%, 55%);
}

#shopping-cart-button svg path {
  fill: hsl(219, 9%, 45%);
}

.no-scroll {
  overflow: hidden;
}

.path:hover {
  stroke: #ff6b6b;
}

@media screen and (width >= 52.8125rem) {
  .order-item {
    padding: 1rem;
  }
  #checkout-button {
    height: 3.125rem;
  }
  .empty span:first-child {
    padding: 1rem 1rem 1.5rem 1rem;
  }
  .cart {
    padding: 1rem 1rem 1.5rem 1rem;
  }
  .close-path {
    fill: hsl(0, 0%, 100%);
  }
  .close-svg:hover .close-path {
    fill: hsl(26, 100%, 55%);
    cursor: pointer;
    height: min-content;
    width: min-content;
  }
  #lightbox {
    display: flex;
    flex-direction: column;
    top: 15%;
    left: 30%;
    background: none;
    gap: 1.5rem;
  }
  #basket {
    position: absolute;
    top: 80px;
    left: -250px;
    height: 15.625rem;
    width: 23.75rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 5px 0 10px rgba(0, 0, 0, 0.1),
      -5px 0 10px rgba(0, 0, 0, 0.1);
  }
  .order {
    display: grid;
    grid-template-columns: 1.1fr 1.9fr;
    gap: 1rem;
  }
  .lightbox-thumbnail-row {
    display: flex;
    justify-content: space-around;
    max-width: 40vw;
    margin: 0 auto;
  }
  #lightbox-close-button {
    display: flex;
    justify-content: flex-end;
  }
  #lightbox-close-button svg:hover {
    cursor: pointer;
  }
  #lightbox-main-img {
    position: relative;
    border-radius: 0.75rem;
    width: 35vw;
    margin: auto;
  }
  #left-button {
    position: absolute;
    z-index: 999;
    top: 40%;
    left: -5%;
  }
  #right-button {
    position: absolute;
    top: 40%;
    left: 95%;
  }
  .thumbnail-active {
    border-radius: 0.625rem;
    outline: 0.125rem solid hsl(26, 100%, 55%);
  }
  .thumbnail-img-active {
    opacity: 75%;
  }
  #nav {
    flex-direction: row;
  }
  .lightbox-thumbnail {
    width: 8vw;
  }
  .lightbox-thumbnail-img {
    border-radius: 0.625rem;
    width: 100%;
    height: 100%;
  }
  .lightbox-thumbnail-img:hover {
    cursor: pointer;
    outline: 0.125rem solid hsl(26, 100%, 55%);
    border-radius: 0.5rem;
  }
  .lightbox-active {
    display: block;
    position: fixed;
  }
  .lightbox img {
    max-width: 50vw;
  }
  main {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.1fr 1fr;
    column-gap: 1rem;
  }
  .desktop-nav {
    display: flex;
    justify-content: space-between;
    grid-row: 1 / 1;
    grid-column: 1 / 3;
    border-bottom: 0.0625rem solid hsl(220, 14%, 75%, 0.2);
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .desktop {
    gap: 1rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .desktop button:hover {
    cursor: pointer;
  }
  .text {
    max-width: 55ch;
    display: flex;
    justify-content: center;
    grid-row: 2 / 2;
    grid-column: 2 / 2;
  }
  h1 {
    font-size: 2.5rem;
  }
  .desktop-nav {
    display: flex;
  }
  .desktop-nav img:first-child {
    border-bottom: 0.25rem solid transparent;
  }
  .desktop-nav ul {
    height: 100%;
    flex-direction: row;
  }
  .desktop-nav ul a {
    display: flex;
    align-items: center;
    color: hsl(219, 9%, 45%);
    font-weight: 400;
    border-bottom: 0.25rem solid transparent;
  }
  .desktop-nav ul a:hover {
    color: hsl(220, 13%, 13%);
    border-bottom: 0.25rem solid hsl(26, 100%, 55%);
  }
  .left-nav {
    display: flex;
    gap: 3rem;
  }
  .right-nav img:nth-child(2) {
    height: 2.8125rem;
  }
  .right-nav {
    position: relative;
    display: flex;
    gap: 2rem;
    border-bottom: 0.25rem solid transparent;
  }
  #main-img {
    width: 100%;
    border-radius: 0.625rem;
  }
  #lightbox-button {
    max-width: 30vw;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
  }
  .price-discount {
    flex-direction: column;
    gap: 0.5rem;
  }
  .desktop-thumbnail {
    position: relative;
  }
  .thumbnail-img {
    border-radius: 0.625rem;
    width: 100%;
    height: 100%;
  }
  .thumbnail-img:hover {
    outline: 0.125rem solid hsl(26, 100%, 55%);
    border-radius: 0.5rem;
  }
  .thumbnail-row {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    max-width: 30vw;
    margin: 0 auto;
  }
}
